@{
    Layout = null;
}

<!DOCTYPE html>
<style type="text/css">
    .chat {
        border:solid 1px #0094ff;
        width:800px;
        height:500px;
        margin:3px auto;
    }
    .title {
        margin:16px
    }
    .right {
        border: solid 1px #0094ff;
    } 
    .foot {
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chat</title>
</head>
<body>
    <div class="chat">
        <div class="title">聊天室:</div>
        <div class="title">在线人数:</div>
        <div class="content">
            <ul>
                <li></li>
            </ul>
        </div>
        
        <div class="foot">            
            <input type="button" id="send" value="发送" />
            <input type="button" id="quite" value="退出聊天" />
        </div>
    </div>
    
</body>
</html>
